.git
.gitignore
.dockerignore
.env
.env.*
Dockerfile
docker-compose.yml

node_modules
dist
dist-electron
out
release
coverage

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
tsconfig.node.tsbuildinfo

generated-images
